// Colores
$dark-cyan: hsla(185, 75%, 39%, 0.1);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

$background-card1: #733FC8;
$background-card2: #49556B;
$background-card3: #18202D;

// Fuentes
$fuente-principal: 'Kumbh Sans', sans-serif;

// Pantallas
$telefono: 480px;
$mediano: 920px;
$desktop: 1200px;